<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Search Engine Meta-->
    <title>Brain Tumor Detection</title>
    <meta name="Description"
          content="Image classifier trained to distinct between cats and dogs images. Convolutional Neural Network was built with Keras & Tensorflow(GPU).">
    <meta name="KeyWords"
          content="machine learning, blockchain, deep learning, keras, tensorflow, artificial intelligence">
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='img/septellar.png')}}"/>
    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- FontAwesome Styles-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
          integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <!-- Custom Styles-->
    <link href="{{url_for('static', filename='css/custom-styles.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static', filename='css/navbar.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static', filename='css/data.css')}}" rel="stylesheet"/>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138397523-20"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-138397523-20');
    </script>


    {% block extrahead %}{% endblock %} {% block head_js %} {% endblock head_js %}


</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    

    <!--/. TOP NAVBAR ****************************************************************************************************************************************************************************************** -->

    <div id="page-index">


        <div class="dashboard-cards">
            <div class="row plain-element">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-push-3 col-md-push-3 col-lg-push-3 plain-element">
                    {% block content %} {% endblock %}
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-sm-pull-6 col-md-pull-6 col-lg-pull-6 col-lg-pull-6 plain-element">
                    <div class="row plain-element">
                        <div class="card card-side card-side-left">
                            <div class="row row-side-blue">Image Classifier</div>
                            <div class="row row-description">
                                <!-- <div class="col-sm-4 col-md-4 plain-element text-center hashtag-column">
                                    <img src="{{url_for('static', filename='img/logo.png')}}"
                                         class="img responsive img-column" alt="septellar">
                                </div> -->
                                <div class="col-sm-8 col-md-8 plain-element col-features">
                                    <h1>Brain Tumor Detection </h1>
                                    <!-- <p>Characteristics</p> -->
                                </div>
                            </div>
                            <div class="row plain-element">
                                <div class="card-content">
                                    <h6>
                                        Image Classifier trained to detect Tumor in the brain from the images of scans uploaded.
                                    </h6>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 plain-element">
                    <div class="row plain-element">
                        <div class="card card-side card-side-right">
                            <div class="row row-side-blue">Characteristics</div>
                            <div class="row plain-element row-visit">
                                <div class="col-xs-12 col-sm-12 col-md-12 plain-element">
                                    <h2> Accuracy</h2>
                                    <h5> 89%</h5>
                                </div>
                            </div>
                            <div class="row plain-element row-visit">
                                <div class="col-xs-12 col-sm-12 col-md-12 plain-element">
                                    <h2> Loss</h2>
                                    <h5> 25%</h5>
                                </div>
                            </div>
                            <div class="row plain-element row-visit">
                                <div class="col-xs-12 col-sm-12 col-md-12 plain-element">
                                    <h2> Image Input Shape</h2>
                                    <h5> 224 x 224 x 3</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>

<!-- jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Bootstrap Js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- Materialize Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- Custom Js -->
<script src="{{url_for('static', filename='js/custom-scripts.js')}}"></script>
<script src="{{url_for('static', filename='js/forms.js')}}"></script>

</body>

</html>
